* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background: #fff;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a,
button {
    text-decoration: none;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ======== class for images =========== */
.w-full {
    width: 100%;
}

/* ======== class for images =========== */


.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.header {
    padding-top: 25px;
    padding-bottom: 12px;
}

.header__container {
    max-width: 1232px;
    padding-bottom: 17px;
}

.header-line {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: none;
    border-bottom: 0.3px solid #46A35880;
}

.header__logo {
    width: 150px;
    height: 34.3px;
    display: flex;
}

.nav__list {
    gap: 50px;
}

.nav__link__active {
    font-family: Cera Pro, sans-serif;
    color: #3d3d3d;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.11px;
    padding-bottom: 25px;
    border-bottom: 3px solid #46A358;
}


.nav__link {
    font-family: Cera Pro;
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.11px;
}

.header__search_btn,
.header__shop__btn {
    background: transparent;
    border: none;
}

.header__search_btn {
    width: 20px;
    height: 20px;
}

.header__shop__btn {
    width: 24px;
    height: 24px;
}

.header__btns__box {
    gap: 30px;
}

.header__login__btn {
    transition: all 0.3s;
    gap: 4px;
    font-family: Cera Pro, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.11px;
    color: #fff;
}

.header__login__btn:hover {
    opacity: 0.8;
}

.login__btn__icon {
    width: 20px;
    height: 20px;
}

/* =================== HOME HERO STYLES ==================== */

.home-hero {
    padding-top: 0;
    padding-bottom: 23px;

}

.home-hero__container {
    max-width: 1200px;
    gap: 83px;
    padding-left: 48px;
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
}

.home-hero__container__info {
    max-width: 693px;
    width: 100%;
}

.home-hero__title {
    font-family: Cera Pro, sans-serif;
    margin-bottom: 7px;
    text-transform: uppercase;
    font-size: 14px;
    color: #3d3d3d;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.1em;
}

.home-hero__large__title {
    font-family: Cera Pro, sans-serif;
    color: #3D3D3D;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
}

.hero__large__title_green {
    font-family: Cera Pro, sans-serif;
    color: #46A358;
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 5px;
    line-height: 70px;
}

.home-hero__text {
    font-family: Cera Pro, sans-serif;
    color: #727272;
    max-width: 520px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 44px;
}

.main__btn {
    padding: 8px 17px;
    background-color: #46A358;
    border: none;
    border-radius: 6px;
}

.home-hero__btn {
    font-family: Cera Pro, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #FFF;
    transition: all 0.3s;
}

.home-hero__btn:hover {
    opacity: 0.8;
}

.home-hero__img {
    width: 518px !important;
    height: 518px !important;
}

.swiper-pagination-bullet {
    background: #0fc7349c !important;
}

.swiper-pagination-bullet-active {
    background: #46A358 !important;
}

/* ============ HOME SHOP STYLES =================*/

.home-shop {
    padding-top: 23px;
    padding-bottom: 50px;
}

.home-shop__container {
    max-width: 1232px;
    gap: 50px;
}

.home-shop__box {
    gap: 50px;
    margin-bottom: 90px;
}

.home-shop__info {
    max-width: 310px;
    background: #FBFBFB;
    padding: 14px 24px 19px 18px;
    width: 100%;
    position: relative;
    height: 1244px;
}

.home-shop__catigories__title {
    margin-bottom: 7px;
}

.home-shop__main__title {
    font-family: Cera Pro, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
}

.home-shop__catigories__box {
    padding-left: 12px;
    margin-bottom: 36px;
}

.active__catigory {
    color: #46A358;
    font-family: Cera Pro, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    cursor: pointer;
}

.normal__catigory {
    color: #3d3d3d;
    font-family: Cera Pro, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    cursor: pointer;
}

.home-shop__catigories__title-1 {
    margin-bottom: 20px;
}

.home-shop__catigories__price__box {
    padding-left: 12px;
}

.home-shop__price__range {
    display: flex;
    margin-bottom: 15px;
    max-width: 209px;
    width: 100%;
}

.home-shop__price__counter {
    font-family: Cera Pro, sans-serif;
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
    display: block;
    margin-bottom: 16px;
    line-height: 16px;
}

.price {
    font-family: Cera Pro, sans-serif;
    color: #46A358;
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
}

.home-shop__filter__btn {
    font-family: Cera Pro, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    margin-bottom: 46px;
    line-height: 20px;
    transition: all 0.3s;
}

.home-shop__info__img {
    max-width: 370px;
    object-fit: cover;
    width: 100%;
    height: 470px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.home-shop__filter__btn:hover {
    opacity: 0.8;
}

.home-shop__cards__box {
    max-width: 838px;
    width: 100%;
    min-width: 443px;
}

.cards__tap {
    gap: 38px;
}

.home-shop__cards__tap__box {
    margin-bottom: 21px;
}

.shop__tab__btn_A {
    background: transparent;
    border: none;
    border-bottom: 2px solid #46A358;
}

.shop__tab__btn_N {
    background: transparent;
    border: none;
}

.shop__sorting {
    gap: 5px;
}

.home-shop__card-N {
    max-width: 258px;
}

.shop__card__img {
    padding: 31px 4px 19px 4px;
    background: #FBFBFB;
    margin-bottom: 12px;
    position: relative;
    border-top: 1px solid transparent;
    overflow: hidden;
    transition: all 0.3s;
}

.shop__card__img:hover {
    border-top: 1px solid #46A358;
}

.shop__card__btns {
    width: 100%;
    justify-content: center;
    gap: 26px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 1px;
    opacity: 0;
    transition: all 0.3s;
}

.shop__card__img:hover .shop__card__btns {
    bottom: 7px !important;
    opacity: 1;
}

.shop__buy__btn,
.shop__like__btn,
.shop__search__btn {
    background-color: white;
    display: flex;
    border: none;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #3D3D3D;
    transition: all 0.3s;
}

.shop__buy__btn:hover,
.shop__like__btn:hover,
.shop__search__btn:hover {
    color: #46A358;
}

.shop__card__flower__name {
    display: block;
    margin-bottom: 6px;
    line-height: 16px;
}

.home-shop__card__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px 33px;
}

.home-shop__pages__btns {
    gap: 10px;
    justify-content: end;
}

.home-page__btn,
.home-page__btn-A {
    font-family: sans-serif;
    padding: 10px 12px;
    width: 35px;
    height: 35px;
    justify-content: center;
    border-radius: 4px;
    font-size: 18px;
}

.home-page__btn {
    font-weight: 300;
    border: 1px solid #E5E5E5;
    color: #3D3D3D;
    background: transparent;
}

.home-page__btn-A {
    color: white;
    font-weight: 700;
    font-family: cera pro, sans-serif;
}

/* ==== SUGGESTIONS SECTION STYLES ==== */

.suggestions {
    padding-top: 50px;
    padding-bottom: 73px;
}

.suggestions__container {
    max-width: 1234px;
    gap: 30px;
}

.suggestions__card {
    max-width: 586px;
    width: 100%;
    background: #FBFBFB;
    position: relative;
    padding-right: 30px;
}

.suggestions__card__img {
    max-width: 293px;
    height: 250px;
    position: relative;
    width: 100%;
}

.suggestions__img {
    max-width: 293px;
    position: absolute;
    top: -52px;
    min-height: 203px;
    object-fit: cover;
    left: 4px;
    width: 100%;
}

.suggestions__card__title {
    font-family: Cera Pro, sans-serif;
    text-align: right;
    max-width: 160px;
    margin-left: auto;
    width: 100%;
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    margin-bottom: 20px;
}

.suggestions__card__text {
    font-family: Cera Pro, sans-serif;
    text-align: right;
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}

.suggestions__btn {
    margin-left: auto;
    font-family: Cera Pro, sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    transition: all 0.3s;
}

.suggestions__btn:hover {
    opacity: 0.8;
}

.suggestions__circle {
    width: 57px;
    height: 116px;
    bottom: 0;
    gap: 0px;
    border-radius: 50%;
    left: 0;
    position: absolute;
}

.suggestions__circle1 {
    width: 65px;
    height: 108px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* ============ BLOGS SECTION STARTED ================ */

.blogs {
    padding-top: 73px;
    padding-bottom: 50px;
}

.blogs__container {
    max-width: 1234px;
}

.blogs__title {
    font-family: Cera Pro, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    margin-bottom: 15px;
    color: #3D3D3D;
}

.blogs__text {
    font-family: Cera Pro, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #727272;
    line-height: 24px;
    text-align: center;
    margin-bottom: 35px;
}

.blogs__card__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 44px;
}

.blogs__card {
    max-width: 268px;
}

.blogs__card__img {
    max-width: 268px;
    height: 195px;
    width: 100%;
    display: flex;
}

.blogs__card__info {
    padding: 9px 11px 12px 15px;
    background: #FBFBFB;
}

.blogs__card__date {
    font-family: Cera Pro, sans-serif;
    color: #46A358;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
    line-height: 16px;
}

.blogs__card__title {
    font-family: Cera Pro, sans-serif;
    color: #3D3D3D;
    max-width: 210px;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}

.blogs__card__text {
    color: #727272;
    font-family: Cera Pro, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 9px;
}

.blogs__card__link {
    color: #3d3d3d;
    font-family: Cera Pro, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    justify-content: start;
    gap: 3px;
    transition: all 0.3s;
}

.blogs__card__link:hover {
    gap: 7px;
    color: #46A358;
}

/* ======= JOIN SECTION STYLES ========== */

.join {
    padding-top: 50px;
}

.join__container {
    max-width: 1232px;
}

.join__card__box {
    padding-bottom: 23px;
    display: flex;
    padding: 25px 25px 24px 23px;
    justify-content: space-between;
    background: #FBFBFB;
}

.join__card {
    max-width: 238px;
    padding-left: 27px;
    border-left: 1px solid #46A3581A;
    width: 100%;
    padding-right: 26px;
}

.join__card1 {
    max-width: 354px !important;
    width: 100% ! important;
}

.join__card:first-child {
    border-left: none;
    max-width: 204px;
    padding-left: 0;
}

.join__card__img {
    width: 74px;
    margin-bottom: 17px;
}

.join__card__title {
    font-family: Cera Pro, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 9px;
}

.m18 {
    margin-bottom: 18px;
}

.join__card__text {
    font-family: Cera Pro, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #727272;
}

.join__form {
    width: 100%;
    margin-bottom: 17px;
    display: flex;
}

.join__form>input {
    padding: 12px 11px;
    background: #fff;
    border: none;
    border-radius: 6px;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
}

.join__form>input:focus {
    outline: none;
    color: #ACACAC;
}

.join__submit__btn {
    width: 85px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 6px 6px 0;
    font-family: Cera Pro, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    line-height: 16px;
    transition: 0.3s;
}

.join__submit__btn:hover {
    opacity: 0.8;
}

.join__card__text {
    font-family: Cera Pro, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

/* ====== LOCATION SECTION STARTED ======== */

.location__container {
    max-width: 1200px;
    background: #46A3581A;
    padding-top: 25px;
    padding-bottom: 20px;
}

.footer__logo {
    width: 150px;
    height: 34.3px;
    display: flex;
}

.location__card {
    max-width: 205px;
    gap: 9px;
}

.location__icon {
    width: 20px;
    height: 20px;
    display: flex;
}

.location__text {
    font-family: Cera Pro, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #3D3D3D;
    line-height: 22px;
}

.location__card__box {
    justify-content: start;
    gap: 90px;
}

/* ======= FOOTER STYLES =======*/

.footer {
    padding-bottom: 13px;
}

.footer__container {
    background: #FBFBFB;
    max-width: 1200px;
    padding-top: 32px;
    justify-content: start;
    gap: 164px;
    padding-left: 21px;
    align-items: start;
    padding-bottom: 27px;
}

.footer__list__title {
    font-family: Cera Pro, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 8px;
}

.footer__link {
    color: #3d3d3d;
    font-family: Cera Pro, sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    transition: all 0.3s;
}

.footer__info__box {
    padding-left: 20px;
}

.footer__info__title {
    font-family: Cera Pro, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 20px;
}

.footer__info__cards {
    gap: 10px;
    margin-bottom: 33px;
}

.footer__card {
    width: 30px;
    height: 30px;
    border: 1px solid #46A35833;
    justify-content: center;
    border-radius: 4px;
    transition: all 0.3s;
    color: #46A358;
}

.footer__card:hover {
    color: white;
    background: #46A358;
    border: 1px solid #46A358;
}

.footer__brends__box {
    max-width: 224px;
    height: 26px;
}

.copyright {
    font-family: Cera Pro, sans-serif;
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    width: 287px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

/* ============================================================================================================== */
/* ================================== SHOP PAGE STYLES START ==================================================== */
/* ============================================================================================================== */

.shop-hero {
    padding-top: 24px;
    padding-bottom: 46px;
}

.shop-hero__container {
    max-width: 1232px;
}

.shop-hero__link {
    font-family: Cera Pro, sans-serif;
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
}

.shop-hero__link__box {
    color: #3d3d3d;
    margin-bottom: 43px;
    justify-content: start;
    gap: 5px;
    font-family: Cera Pro, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    max-width: 500px;
}

.shop-hero__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 52px;
}

.shop-hero__box__imgs {
    display: flex;
    gap: 29px;
    align-items: center;
    justify-content: start;
}

.shop-hero__box__imgs_Y {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.shop-hero__img {
    width: 100px;
    height: 100px;
    background: #FBFBFB;
    border-radius: 2px;
    cursor: pointer;
}

.hero__main__png {
    max-width: 444px;
    width: 100%;
    display: flex;
    height: 444px;
    padding: 25px 23px 15px 17px;
    position: relative;
    object-fit: cover;
    background: #FBFBFB;
}

.hero__img__zoom {
    width: 30px;
    height: 30px;
    position: absolute;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    background: #fff;
    top: 13px;
    right: 13px;
}

.act__png {
    border: 1px solid #46A358;
}

.shop-hero__main__img {
    width: 100%;
}

.shop-hero__title {
    font-family: Cera Pro, sans-serif;
    margin-bottom: 21px;
    font-size: 28px;
    font-weight: 700;
    line-height: 16px;
}

.shop-hero__pice__box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 11px;
    border-bottom: 0.3px solid #46A35880;
    margin-bottom: 15px;
}

.shop-hero__rate__box {
    display: flex;
    gap: 11px;
    align-items: center;
}

.stars {
    display: flex;
    align-items: center;
    gap: 3px;
}

.star {
    width: 15px;
    height: 15px;
    padding: 1.5px;
}

.shop-hero__customer {
    font-family: Cera Pro, sans-serif;
    color: #3d3d3d;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}

.hero__description {
    font-family: Cera Pro, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 10px;
}

.shop-hero__text {
    font-family: Cera Pro, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #727272;
    margin-bottom: 24px;
}

.shop-hero__size__box {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-bottom: 23px;
}

.shop-hero__size_A {
    width: 28px;
    height: 28px;
    padding: 6px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #46A358;
    font-family: Cera Pro, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    border: 1px solid #46A358;
    border-radius: 50%;
    cursor: pointer;
}

.shop-hero__size {
    cursor: pointer;
    width: 28px;
    height: 28px;
    padding: 6px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #727272;
    font-family: Cera Pro, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    border: 1px solid #EAEAEA;
    border-radius: 50%;
}

.shop-hero__counter {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 23px;
}

.minus {
    width: 33px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-family: Cera Pro, sans-serif;
    font-size: 28px;
    color: #fff;
    font-weight: 400;
    line-height: 16px;
}

.counter__count {
    font-family: Cera Pro, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 10px;
    color: #3d3d3d;
}

.plus {
    width: 33px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-family: Cera Pro, sans-serif;
    font-size: 28px;
    color: #fff;
    font-weight: 400;
    line-height: 16px;
}

.shop-hero__btns__box {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: start;
    max-width: 320px;
    width: 100%;
}

.shop-hero__btn {
    font-family: Cera Pro, sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    max-width: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.shop-hero__btn1 {
    max-width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: transparent;
    font-family: Cera Pro, sans-serif;
    color: #46A358;
    border-radius: 6px;
    border: 1px solid #46A358;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.shop-hero__btn2 {
    max-width: 40px;
    height: 40px;
    color: #46A358;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid #46A358;
    background: transparent;
}

.shop-hero__btns {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-bottom: 26px;
}

.shop-hero__btn,
.shop-hero__btn1,
.shop-hero__btn2 {
    transition: all 0.3s;
}

.shop-hero__btn:hover,
.shop-hero__btn1:hover,
.shop-hero__btn2:hover {
    opacity: 0.8;
}

.shop-hero__list {
    display: flex;
    flex-direction: column;
    gap: 10.5px;
    margin-bottom: 18px;
}

.flower__info {
    font-family: Cera Pro, sans-serif;
    color: #727272;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}

.flower__id {
    font-family: Cera Pro, sans-serif;
    color: #3d3d3d;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}

.shop-hero__share__box {
    display: flex;
    align-items: center;
    gap: 16px;
}

.shop-hero__share {
    font-family: Cera Pro, sans-serif;
    color: #3d3d3d;
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
}

.share__icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.share__link {
    color: #3d3d3d;
    transition: all 0.3s;
    display: flex;
}

.share__link:hover {
    color: #46A358;
}

.shop-info {
    padding-top: 42px;
    padding-bottom: 64px;
}

.shop-info__container {
    max-width: 1232px;
}

.shop-info__tab__box {
    display: flex;
    gap: 30px;
    align-items: center;
    border-bottom: 0.3px solid #46A35880;
    margin-bottom: 18px;
}

.shop-info__text {
    color: #727272;
    font-family: Cera Pro, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.shop-info__title {
    font-family: Cera Pro, sans-serif;
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.shop-products {
    padding-top: 64px;
    padding-bottom: 0px;
}

.shop-products__container {
    max-width: 1232px;
}

.shop-products__title {
    font-family: Cera Pro, sans-serif;
    color: #46A358;
    margin-bottom: 12px;
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
}

.shop-products__line {
    height: 0;
    border: none;
    border-bottom: 0.3px solid #46A35880;
    margin-bottom: 44px;
}

.shop-product__card__img {
    padding: 5px 11px 7px 18px;
    max-width: 219px;
    height: 255px;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    display: flex;
    background-color: #FBFBFB;
    margin-bottom: 12px;
}

.shop-products__card__box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 26px;
}

.counter__count {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__link:hover {
    color: #46A358;
}

/* ======================================================================================================================================= */
/* ======================================================== SHOPPING CARD PAGE STYLES ==================================================== */
/* ======================================================================================================================================= */

.card-hero {
    padding-top: 36px;
    padding-bottom: 87px;
}

.card-hero__container {
    max-width: 1232px;
}

.card-hero__deleteCards {
    max-width: 782px;
    width: 100%;
    min-width: 612px;
    position: relative;
}

.deleteCards__title__box {
    justify-content: start;
    margin-bottom: 11px;
    gap: 245px;
}

.deleteCards__title__box1 {
    display: flex;
    gap: 120px;
    max-width: 500px;
}

.deleteCards__title {
    font-family: Cera Pro, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: #3d3d3d;
}

.deleteCards__line {
    border: none;
    border-bottom: 0.3px solid #46A35880;
    height: 0;
    margin-bottom: 11px;
}

.deleteCards__card {
    padding: 23px 26px;
    background: #FBFBFB;
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
    align-items: center;
    justify-content: start;
    gap: 95px;
    padding-left: 0;
    margin-bottom: 10px;
}

.deleteCards__card_info {
    max-width: 234px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.deleteCards__card__img {
    max-width: 70px;
    height: 70px;
}

.deleteCards__flower__name {
    font-family: Cera Pro, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #3D3D3D;
    margin-bottom: 6px;
}

.deleteCards__card__price {
    font-family: Cera Pro, sans-serif;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    line-height: 16px;
    right: 55%;
    color: #727272;
}

.deleteCards__card__counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100px;
    padding-left: 20px;
    position: absolute;
    right: 31%;
    gap: 10px;
}

.minus1,
.plus1 {
    width: 21px !important;
    height: 25px;
    font-family: Cera Pro, sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 29px;
}

.deleteCards__card__count {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cera Pro, sans-serif;
    color: #3d3d3d;
    font-size: 17px;
    font-weight: 400;
    line-height: 10px;
}

.deleteCards__card__total__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
    margin-left: auto;
}

.total_price {
    font-size: 16px;
    position: absolute;
    right: 80px;
}

.deleteCards__card__delete__btn {
    background: transparent;
    border: none;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 20px;
}

.deleteCards__title__box1>.deleteCards__title:nth-child(1) {
    position: absolute;
    left: 40%;
    top: 1px;
}

.deleteCards__title__box1>.deleteCards__title:nth-child(2) {
    position: absolute;
    left: 59%;
    top: 1px;
}

.deleteCards__title__box1>.deleteCards__title:nth-child(3) {
    position: absolute;
    left: 83%;
    top: 1px;
}

.card-hero__totals {
    width: 100%;
    max-width: 332px;
}

.card-hero__totals__title {
    color: #3D3D3D;
    font-family: Cera Pro, sans-serif;
    margin-bottom: 11px;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
}

.card-hero__totals__line {
    border: none;
    border-bottom: 0.3px solid #46A35880;
    margin-bottom: 11px;
}

.card-hero__cupon__title {
    font-family: Cera Pro, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #3D3D3D;
    margin-bottom: 8px;
    display: flex;
}

.card-hero__cupon__input__box {
    display: flex;
    align-items: center;
    border: 1px solid #46A358;
    justify-content: center;
    border-radius: 3px;
    margin-bottom: 30px;
}

.apply__btn {
    border-radius: 0 3px 3px 0;
    color: #fff;
    font-family: Cera Pro, sans-serif;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    width: 102px;
    line-height: 16px;
}

.card-hero__cupon__input__box>input {
    padding: 13px 0 13px 9px;
    outline: none;
    font-family: Cera Pro, sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    line-height: 15px;
    border: none;
    height: 40px;
}

.card-hero__list {
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-bottom: 8px;
}

.card-hero__list>li>b {
    color: #3D3D3D;
    font-family: Cera Pro, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    text-align: right;
}

.card-hero__list__title {
    color: #3D3D3D;
    font-family: Cera Pro, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}

.card-hero__view {
    font-family: Cera Pro;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #46A358;
    width: 121px;
    margin-left: auto;
    display: flex;
    margin-bottom: 26px;
}

.card-hero_total_price {
    color: #3D3D3D;
    font-family: Cera Pro, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 29px;
}

.proceed__btn {
    font-family: Cera Pro, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    padding: 12px 0;
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 14px;
}

.card-hero__continue{
    color: #46A358;
    width: 135px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    font-family: Cera Pro, sans-serif;
}